In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [2]:
house_df = df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'yr_built', 
              'yr_renovated', 'zipcode']]

In [3]:
# from sklearn.preprocessing import LabelEncoder
# encoder = LabelEncoder()

# house_df['zipcode']= encoder.fit_transform(df['zipcode'])
# house_df

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
house_df.iloc[:, :] = scaler.fit_transform(house_df.iloc[:, :])
house_df

C:\Users\sachi\AppData\Local\Temp\ipykernel_12228\1285084275.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_df.iloc[:, :] = scaler.fit_transform(house_df.iloc[:, :])

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,yr_built,yr_renovated,zipcode
0,-0.866717,-0.398737,-1.447464,-0.979835,-0.228321,-0.915427,-0.087173,-0.305759,-0.544898,-0.210128,1.870152
1,-0.005688,-0.398737,0.175607,0.533634,-0.189885,0.936506,-0.087173,-0.305759,-0.681079,4.746678,0.879568
2,-0.980849,-1.473959,-1.447464,-1.426254,-0.123298,-0.915427,-0.087173,-0.305759,-1.293892,-0.210128,-0.933388
3,0.174090,0.676485,1.149449,-0.130550,-0.244014,-0.915427,-0.087173,-0.305759,-0.204446,-0.210128,1.085160
4,-0.081958,-0.398737,-0.149007,-0.435422,-0.169653,-0.915427,-0.087173,-0.305759,0.544548,-0.210128,-0.073636
...,...,...,...,...,...,...,...,...,...,...,...
21608,-0.490545,-0.398737,0.500221,-0.598746,-0.337424,2.788439,-0.087173,-0.305759,1.293542,-0.210128,0.468382
21609,-0.381588,0.676485,0.500221,0.250539,-0.224386,0.936506,-0.087173,-0.305759,1.463768,-0.210128,1.272063
21610,-0.375865,-1.473959,-1.772078,-1.154047,-0.332137,0.936506,-0.087173,-0.305759,1.293542,-0.210128,1.234683
21611,-0.381588,-0.398737,0.500221,-0.522528,-0.307076,0.936506,-0.087173,-0.305759,1.123316,-0.210128,-0.952078
21612,-0.585882,-1.473959,-1.772078,-1.154047,-0.338752,0.936506,-0.087173,-0.305759,1.259497,-0.210128,1.234683

In [6]:
x_columns = 10
X = house_df.iloc[:, 1:x_columns].values
y = house_df.iloc[:, 0].values
y

array([-0.86671733, -0.00568792, -0.98084935, ..., -0.37586519,
       -0.38158814, -0.58588173])

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=3)

In [9]:
#all_models = []
all_models = {}

In [10]:
from sklearn.linear_model import LinearRegression
model_LR = LinearRegression()
model_LR.fit(X_train, y_train)
y_pred = model_LR.predict(X_test)
score_LR = model_LR.score(X_test, y_test)
print(score_LR)
all_models[model_LR] = score_LR
print(all_models)

0.5960926448244055
{LinearRegression(): 0.5960926448244055}

In [11]:
neighbors = range(1,100)
bestscore_KNN = 0
from sklearn.neighbors import KNeighborsRegressor

for n in neighbors:
    model_KNN = KNeighborsRegressor(n_neighbors = n)
    model_KNN.fit(X_train, y_train)
    score_KNN = model_KNN.score(X_test, y_test)
    #print(score)
    if score_KNN > bestscore_KNN:
        bestscore_KNN = score_KNN
        knn_n = neighbors.index(n)+1
bestscore_KNN

#all_models.append(model_KNN)
all_models[model_KNN] = bestscore_KNN
print(all_models)

{LinearRegression(): 0.5960926448244055, KNeighborsRegressor(n_neighbors=99): 0.6163192582485851}

In [12]:
from sklearn.preprocessing import PolynomialFeatures
scoresPR = []
for i in range(1,6):
    poly=PolynomialFeatures(degree=i)
    x_poly = poly.fit_transform(X)

    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    score = model.score(X_test, y_test)
    scoresPR.append(score)
    scorePR = max(scoresPR)

    
bestPoly = scoresPR.index(max(scoresPR)) + 1 # location of max score

print('Max polynomial score is: ',scorePR, "with a value of",bestPoly)

Max polynomial score is:  0.5960926448244055 with a value of 1

In [13]:
crit = ['mse', 'mae']
depth = [3, 4, 5, 6]
best_score_DT = 0
from sklearn.tree import DecisionTreeRegressor
for i in crit:
    for d in depth:
        t_model = DecisionTreeRegressor(criterion=i, max_depth = d, splitter='best', random_state=0)
        t_model.fit(X_train, y_train)
        y_pred = t_model.predict(X_test)
        score_DT = t_model.score(X_test, y_test)
    
        if score_DT > best_score_DT:
            best_score_DT = score_DT
print(best_score_DT)

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

0.6076277657259805

In [14]:
estimators = [3, 5, 10, 15]
critera = ['mse', 'mae']
best_score_RF = 0

from sklearn.ensemble import RandomForestRegressor
for i in estimators:
    for c in critera:
        model_RF = RandomForestRegressor(n_estimators = i, criterion = c, random_state = 0)
        model_RF.fit(X_train, y_train)
        y_pred_RF = model_RF.predict(X_test)
        score_RF = model_RF.score(X_test, y_test)
        
        if score_RF > best_score_RF:
            best_score_RF = score_RF
best_score_RF

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:403: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:403: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:403: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:403: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warn(

0.6180672391748308

In [15]:
# c_value = [0.001,  0.01, 1]
# best_score_SVM = 0
from sklearn.svm import SVR

model_SVR = SVR(kernel = 'linear', max_iter = 1000)
model_SVR.fit(X_train, y_train)
score_SVM_L = model_SVR.score(X_test, y_test)
#         k_n = kernel_value.index(k)
#         c_n = c_value[i]
# if score_SVM >  best_score_SVM:
#     best_score_SVM = score_SVM
print(score_SVM_L)

-0.6751827559855976

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\svm\_base.py:284: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(

In [16]:
# c_value = [0.0001, 0.001,  0.01]
# kernel_value = ['rbf', 'linear', 'poly']
# best_score_SVM = 0
from sklearn.svm import SVR

model_SVR = SVR(kernel = 'rbf', C = 1, gamma = 'auto')
model_SVR.fit(X_train, y_train)
score_SVM = model_SVR.score(X_test, y_test)
#         k_n = kernel_value.index(k)
#         c_n = c_value[i]
# if score_SVM >  best_score_SVM:
#     best_score_SVM = score_SVM
print(score_SVM)

0.5917007141658674

In [17]:
all_models

{LinearRegression(): 0.5960926448244055,
 KNeighborsRegressor(n_neighbors=99): 0.6163192582485851}

In [18]:
house_df = df

In [19]:
house_df = df[['bedrooms']] == 3
house_df['bathrooms'] = df[['bathrooms']] == 2
house_df['floors'] = df['floors'] == 1
house_df['zipcode'] = df['zipcode'] == 98028
house_df['price'] = df['price']
house_df

       bedrooms  bathrooms  floors  zipcode     price
0          True      False    True    False  221900.0
1          True      False   False    False  538000.0
2         False      False    True     True  180000.0
3         False      False    True    False  604000.0
4          True       True    True    False  510000.0
...         ...        ...     ...      ...       ...
21608      True      False   False    False  360000.0
21609     False      False   False    False  400000.0
21610     False      False   False    False  402101.0
21611      True      False   False    False  400000.0
21612     False      False   False    False  325000.0

[21613 rows x 5 columns]

In [20]:
# indexNames = house_df[(house_df['bedrooms'] == False) &  (house_df['bathrooms'] == False) & (house_df['floors'] == False)
#                      & (house_df['zipcode'] == False)].index

indexNames = house_df[house_df['bedrooms'] == False].index
house_df.drop(indexNames, inplace=True)
indexNames2 = house_df[house_df['bathrooms'] == False].index
house_df.drop(indexNames2, inplace=True)
indexNames3 = house_df[house_df['floors'] == False].index
house_df.drop(indexNames3, inplace=True)
indexNames4 = house_df[house_df['zipcode'] == False].index
house_df.drop(indexNames4, inplace=True)
house_df

       bedrooms  bathrooms  floors  zipcode     price
6997       True       True    True     True  433000.0
8261       True       True    True     True  375000.0
8970       True       True    True     True  405000.0
19140      True       True    True     True  430000.0

In [21]:
x_columns = 3
X = house_df.iloc[:, :x_columns].values
y = house_df.iloc[:, 4].values

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [23]:
model_hp = LinearRegression()
model_hp.fit(X_train, y_train)
y_pred = model_hp.predict(X_test)
score_hp = model_hp.score(X_test, y_test)
print(y_pred)

[412666.66666667]

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [24]:
houseprice_df = df[['bedrooms', 'bathrooms', 'floors', 'zipcode', 'price']]
houseprice_df

       bedrooms  bathrooms  floors  zipcode     price
0             3       1.00     1.0    98178  221900.0
1             3       2.25     2.0    98125  538000.0
2             2       1.00     1.0    98028  180000.0
3             4       3.00     1.0    98136  604000.0
4             3       2.00     1.0    98074  510000.0
...         ...        ...     ...      ...       ...
21608         3       2.50     3.0    98103  360000.0
21609         4       2.50     2.0    98146  400000.0
21610         2       0.75     2.0    98144  402101.0
21611         3       2.50     2.0    98027  400000.0
21612         2       0.75     2.0    98144  325000.0

[21613 rows x 5 columns]

In [25]:
x_columns = 3
X = house_df.iloc[:, :x_columns].values
y = house_df.iloc[:, 4].values

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [27]:
model_hp2 = LinearRegression()
model_hp2.fit(X_train, y_train)
y_pred = model_hp2.predict(X_test)
score_hp2 = model_hp2.score(X_test, y_test)
print(y_pred)

[412666.66666667]

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [28]:
model_SVR = SVR(kernel = 'rbf', C = 1, gamma = 'auto')
model_SVR.fit(X_train, y_train)
y_svr_pred = model_SVR.predict(X_train)
score_SVM = model_SVR.score(X_test, y_test)
print(y_svr_pred)

[430000. 430000. 430000.]

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [29]:
for i in crit:
    for d in depth:
        hp_t_model = DecisionTreeRegressor(criterion=i, max_depth = d, splitter='best', random_state=0)
        hp_t_model.fit(X_train, y_train)
        hp_y_pred = hp_t_model.predict(X_test)
       
print(hp_y_pred)

[430000.]

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(
C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(